.result {
  display: none;
}

.resultImg {
  display: none;
}

.resultPhrase {
  display: none;
}

#java-result {
display: none;
}

#cs-result {
  display: none;
}

#php-result {
  display: none;
}

#ruby-result {
  display: none;
}

#result20 {
  display: none;
}

#result15 {
  display: none;
}

#result10 {
  display: none;
}

#result05 {
  display: none;
}

#result00 {
  display: none;
}
